.page{
    height:100vh;
    padding:30px;
    box-sizing: border-box;
    background-color: white;
}
.auth-container{
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius:15px;
    height:100%;
    display:flex;
}
.auth-container img{
    width:50%;
    height:100%;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;

}
.auth-container-child{
    display:flex;
    flex-direction: column;
    margin:0px auto;
    gap:15px;
    width:100%;
    box-sizing: border-box;
    padding:40px;
}
.auth-container-child h2{
   font-size:22px;
   text-align: left;
   font-family: 'Poppins', sans-serif;
   color:"#353957";
   font-weight:600;
}

.input-label{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.input-label label{
    font-size:14px;
    font-family: 'Poppins', sans-serif;
    color:"#353957";
    font-weight:500;
}

.input-label input{
    padding:10px 12px;
    border-radius: 8px;
    border:1px solid darkgrey;
}
.input-buttons{
    display:flex;
    gap:10px;
    padding-top:40px;
    width:100%;
    align-items: center;
}
.input-button{
    text-wrap: nowrap;
    font-family: 'Poppins', sans-serif;
    padding:7px 10px;
    color:white;
    font-weight:600;
    border-radius: 8px;
    background-color: #353957;
    cursor: pointer;
    border:none;
    transition:0.3s all;
}
.input-button:hover{
    background-color: #202232;
    border:none;
    transition: 0.3s all;

}
.input-link{
    font-family: 'Poppins', sans-serif;
    color:#353957;
    font-size:15px;
}


@media screen and (max-width:700px) {
    .page{
        padding:15px;
        /* height:90vh; */

        /* margin:auto 0px; */
    }
    
    .auth-container img{
        display:none;
    }
    .auth-container-child{
        justify-content: center;
    }
}